/* 
Verde Fresco: #4CAF50
Marrón Cálido: #795548
Beige Suave: #D7CCC8
*/

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Arvo', serif;
    background-color: white;
    margin: 0px;
    /* Para que el footer quede abajo del todo */
    min-height: 100vh;
}

/* Para dar un margen superior de 50px */
.margin-50{
    margin-top: 50px;
}

/* Margenes laterales */
main{
    margin-right: 120px;
    margin-left: 120px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #a3e6a5;
    position: sticky;
    top: 0px;
    height: 120px;
    width: 100%;
    /* Coloca el header adelante de otros elementos */
    z-index: 1000;
}

header img{
    width: 80px;
    margin: 6px 0px 8px 0px;
}


header ul a{
    color: black;
    text-decoration: none;
    padding: 20px;
    border: 2px ridge #000000;
    background: #9dcc8f;
}

header li{
    display: inline-block;
    font-size: 1.6rem;
    margin-right: 50px;
    margin-left: 50px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a3e6a5;
    width: 100%;
    margin: 0px;
    font-size: 1.6rem;
    /* Coloca el footer debajo del todo */
    margin-top: auto;
}

footer img{
    width: 60px;
    margin: 20px 20px 20px 20px;
}

footer ul{
    list-style: none;
}

.footer-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    text-shadow: -4px -2px 7px rgba(0,0,0,1);
    height: 200px;
    font-size: 2rem;
}

/* Formato de las imagenes de la galeria (index) y los perros rescatados (historias) */
.imagenes-galeria{
    object-fit: contain;
    height: 500px;
    width: 100%;
}

/* RESPONSIVE */

/* DISMINUYE EL TAMAÑO DEL HEADER EN PANTALLAS MEDIANAS */
@media (min-width: 768px) and (max-width: 1100px){
    header ul a{
        padding: 10px;
    }
    header li{
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* ELIMINA EL NAV DE CELULAR EN DESKTOP */
@media (min-width: 768px){
.nav-cel{
    display: none;
    visibility: hidden;
}
}

/* NAV DE CELULAR */
@media (max-width: 767px){
header{
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

/* COLOCO MARGEN ESTRECHO EN CELULAR */
main{
    margin-left: 10px;
    margin-right: 10px;
}

/* ELIMINO EL NAV DE DESKTOP */
.nav-desk{
    display: none;
}

header li{
    font-size: 2rem;
}
header a{
    text-decoration: none;
    color: #000000;
}
}