header{
    @include flex(row,space-around,center);
    background-color: $verde;
    position: sticky;
    top: 0px;
    height: 120px;
    width: 100%;
    /* Coloca el header adelante de otros elementos */
    z-index: 1000;
    img{
        width: 80px;
        margin: 6px 0px 8px 0px;
    }
    ul{
        li{
            display: inline-block;
            font-size: 1.6rem;
            margin-right: 50px;
            margin-left: 50px;
            .boton{
                color: black;
                text-decoration: none;
                padding: 20px;
                border: 2px ridge #000000;
                background: $verde;

                &:hover{
                    background-color: #6f9364;
                }
            }   
        
        }
    }
}

footer{
    @include flex(row,space-evenly,center);
    background-color: $verde;
    width: 100%;
    margin: 0px;
    font-size: 1.6rem;
    /* Coloca el footer debajo del todo */
    margin-top: auto;
    div{
        img{
            width: 60px;
            margin: 20px 20px 20px 20px;
        }
        nav{
            ul{
                list-style: none;
            }
        }
    }
    .footer-redes{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}